<!-- Page Content -->
<div class="container">
<h3 class="text-center">Medical Record for <%= @patient.full_name %></h3>

	<div class="col-md-12">
		<table class="table table-hover">
			<thead>
				<tr>
					<th class="col-md-1 med-record-index-table-header">
						Record #
					</th>
					<th class="col-md-3 med-record-index-table-header">
						Medical Condition
					</th>
					<th class="col-md-3 med-record-index-table-header">
						Medical Category
					</th>
					<th class="col-md-2 med-record-index-table-header">
						Doctor
					</th>
					<th class="col-md-1 med-record-index-table-header">
						Appointment History		
					</th>
				</tr>
			</thead>
			<tbody>
				<% @medical_records.each do |rec| %>
					<tr>
						<td>
							<%= rec.id %>
						</td>
						<td>
							<%= rec.medical_condition.name %>
						</td>
						<td>
							<%= rec.medical_category.name %>
						</td>
						<td>
							<%= rec.doctor.user.full_name %>
						</td>
						<td>
							<a href="<%= medical_record_appointments_path(rec) %>">See more</a>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
