Medical Condition: <%= MedicalRecord.find(session[:medical_record_id]).medical_condition.name %> <br>
Medical Category: <%= MedicalRecord.find(session[:medical_record_id]).medical_category.name %> <br>
Appointment Date: <%= Appointment.where(medical_record_id: session[:medical_record_id]).last.appointment_date %> <br>
Notes: <%= Appointment.where(medical_record_id: session[:medical_record_id]).last.notes %> <br>

<% if !Medication.find_by(medical_record_id: session[:medical_record_id]).nil? %>
	<% Medication.where(medical_record_id: session[:medical_record_id]).each do |med| %>
		<p>Medication: <%= med.name %> </p>
		<p>Dosage: <%= med.dosage %></p>
	<% end %>
<% end %>

<%= form_for @medication, url: doctor_medications_submit_path do |form| %>
	<%= form.label 'Medication Name' %>
	<%= form.text_field :name %>
	<%= form.label 'Dosage' %>
	<%= form.text_field :dosage %>
	<%= form.submit 'Submit' %>
<% end %>
