<% @appointments.each do |appointment| %>
	<div class="col-md-8 col-md-offset-2">
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h3 class="panel-title">Appointment #<%= appointment.id %> with <%= appointment.medical_record.doctor.user.full_name %></h3>
		  </div>
		  <div class="panel-body">
		    <p>
		    	<strong>
		    		Appointment Date:<br>
		    	</strong>
		    	<%= appointment.appointment_date.strftime('%d %b %Y') %>
	    	</p>
		    <p>
		    	<strong>
		    		Doctor's notes:<br>
		    	</strong>
		    	<%= appointment.notes %>
	    	</p>
		    <p>
		    	<strong>
		    		Medication and Dosage:<br>
		    	</strong>
		    	<% appointment.medications.each do |medication| %>
		    		<%= medication.name %><br>
		    		<%= medication.dosage %>
		    		<br>
		    		<br>
		    	<% end %>
	    	</p>	    		    	
		  </div>
		</div>
	</div>
<% end %>