<div class="container">
	<div class="col-md-6 col-md-offset-3">
    <div class="panel panel-info">
			<div class="panel-heading">
				<b>Records Summary for <%= @patient.user.full_name %></b>
			</div>
			<div class="panel-body">
				<p>
					<b>Medical Condition:</b><br>
					<%= MedicalRecord.find(params[:medical_record_id]).medical_condition.name %>
				</p>
				<p>
					<b>Appointment Date:</b><br>
					<%= @appointment.appointment_date.strftime('%d %b %Y') %>
				</p>
				<p>
					<b>Notes:</b><br>
					<%= @appointment.notes %>
				</p>

				<% if !Medication.find_by(appointment_id: session[:appointment_id]).nil? %>
					<br>
					<p><b>Prescription:</b></p>
          <table class="table">
            <thead>
              <tr>
                <th class="col-md-3 med-record-index-table-header">
                  Medication
                </th>
                <th class="col-md-2 med-record-index-table-header">
                  Dosage
                </th>
              </tr>
            </thead>
            <tbody>				
							<% Medication.where(appointment_id: session[:appointment_id]).each do |med| %>
								<tr>
	                <td>
	                  <%= med.name %>
	                </td>
	                <td>
	                  <%= med.dosage %>
	                </td>
	              </tr>
							<% end %>
						</tbody>
					</table>
				<% end %>
			</div>
		</div>

		<%= form_for @medication, url: medical_record_appointment_medications_submit_path(params[:medical_record_id]) do |form| %>
		 	<div class="form-group">
				<%= form.label 'Medication Name' %>
			 	<%= form.text_field :name, class:"form-control" %>
			</div>
			<div class="form-group">
				<%= form.label 'Dosage' %>
				<%= form.text_field :dosage, class:"form-control" %>
			</div>
			<div class="form-group text-center">
				<%= form.submit 'Add Prescription', class:"btn btn-primary" %>
				<%= link_to 'Record Completed', medical_record_appointment_completed_path(params[:medical_record_id]), method: :get, class: 'btn btn-success' %>
			</div>
		<%end%>
	</div>
</div>

