<div class="container">
  <div class="col-md-6 col-md-offset-3">
  <div class="panel panel-info">
  <div class="panel-heading">Patient Info</div>
      <div class="panel-body">
        <p><b>Full name:</b> <br><%= @patient.user.full_name %> <br>
        <p><b>IC:</b> <br><%= @patient.user.identity_card %></p>

        <p><b>Date of Birth:</b> <br><%= @patient.date_of_birth.strftime('%d %b %Y') %></p>
        <p><b>Medical Condition</b> <br><%= @medical_record.medical_condition.name %></p>
        </div>
      </div>

<%= form_for @appointment, url: medical_record_appointment_path(params[:medical_record_id]) do |form| %>


  <div class="form-group">
    <%= form.label :appointment_date %>
    <%= form.date_field :appointment_date, value: Date.today.strftime('%Y-%m-%d'), class: 'form-control' %>
  </div>


  <div class="form-group">
    <%= form.label :notes %>
    <%= form.text_area :notes, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= submit_tag 'Submit and prescribe medication', class: 'btn btn-primary col-md-offset-3' %>
  </div>


<% end %>

</div>
</div>
</div>
</div>
